# Binaries
*.exe
*.dll
*.so
*.dylib
*.out

# Go build output
*.a
*.o
*.mod
*.sum

# Executável do projeto
cde_api

# macOS
.DS_Store

# Logs
*.log

# Ambientes
.env

# IDEs
.idea/
*.iml
.vscode/

# Históricos locais
.history/

# Git
.git
.gitignore

# Test output
coverage.out